---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import { actions } from "astro:actions";

const t = import.meta.env.TEST_SECRET;

const posts = (await getCollection("blog"))
  .filter((a) => a.id !== "using-mdx")
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.min.js"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main>
      <h1>Admin Panel</h1>

      <table>
        <tr><th>Title</th><th>Generate Image</th></tr>
        {
          posts.map((post) => (
            <tr>
              <td>{post.data.title}</td>
              <td>
                <button class="gen-image-btn" data-postid={post.id}>
                  Generate Image
                </button>
              </td>
            </tr>
          ))
        }
      </table>

      <!-- Create the editor container -->
      <div id="editor">
        <p>Hello World!</p>
        <p>Some initial <strong>bold</strong> text</p>
        <p><br /></p>
      </div>

      <button id="submit" type="button">Get Contents {t}</button>
    </main>
    <Footer />
  </body>
</html>
<!-- Initialize Quill editor -->
<script>
  import { actions } from "astro:actions";

  document.addEventListener("DOMContentLoaded", function (event) {
    // @ts-expect-error Quill is not defined
    const quill = new Quill("#editor", {
      theme: "snow",
      modules: {
        toolbar: [
          ["bold", "italic", "underline"],
          ["link"],
          [{ list: "ordered" }, { list: "bullet" }],
        ],
      },
    });
    document
      .getElementById("submit")!
      .addEventListener("click", function (event) {
        var html = quill.root.innerHTML;
        console.log(html);
        console.log(quill.getSemanticHTML());
        console.log(quill.getContents());
      });
  });

  const btns = document.getElementsByClassName("gen-image-btn");
  Array.prototype.forEach.call(btns, function (el) {
    const post_id = el.dataset.postid;
    el.addEventListener("click", function (event: Event) {
      event.stopPropagation();
      event.preventDefault();
      console.log(post_id);
      actions.generate_image.generateImage({ post_id });
    });
  });
</script>
